<p class="h5 my-0 me-md-auto fw-normal">ANGULAR ASSIGNMENT</p>
<nav class="my-2 my-md-0 me-md-3">
  <a class="p-2 text-dark" [routerLink]="['/employees']">Employees</a>
  <a class="p-2 text-dark" [routerLink]="['/about']">About</a>
</nav>
