<form class="form-group" [formGroup]="newPhoneForm" (ngSubmit)="addNewPhone()">
  <div class="d-flex">
    <input type="tel" class="form-control" formControlName="phone"/>
    <button type="submit" class="btn btn-primary">+</button>
  </div>
  <div class="d-block" *ngIf="submitted && newPhoneForm.get('phone').errors">
    <p class="m-0 text-danger" *ngIf="newPhoneForm.get('phone').errors.required">Phone cannot be blank</p>
    <p class="m-0 text-danger" *ngIf="newPhoneForm.get('phone').errors.minlength">Phone must have atleast 10 characters</p>
    <p class="m-0 text-danger" *ngIf="newPhoneForm.get('phone').errors.maxlength">Phone must have atmost 10 characters</p>
  </div>
</form>
