<div class="w-100 h-100">
  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <app-header></app-header>
  </header>
  <main>
    <ng-container *ngIf="(showLoader$ | async) then loaderTemplate else routerOutletTemplate"></ng-container>
  </main>
  <footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    <app-footer></app-footer>
  </footer>
</div>

<ng-template #loaderTemplate>
  <div class="loader-wrapper d-flex align-items-center justify-content-center">
    <app-page-loader></app-page-loader>
  </div>
</ng-template>

<ng-template #routerOutletTemplate>
  <router-outlet></router-outlet>
</ng-template>
