<div class="container">
  <section class="row">
    <app-page-header [title]="'EMPLOYEES'"></app-page-header>
  </section>

  <section class="row">
    <div class="col-sm-3">
      <table class="table">
        <thead>
          <tr>
            <th>EMPLOYEE LIST</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <app-employee-list
              [employees]="employees"
              [id]="employee && employee.id"
            ></app-employee-list>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-9">
      <table class="table">
        <thead>
          <tr>
            <th>DETAILS</th>
            <th>
              <div class="text-right">
                <div class="btn-group" *ngIf="!isEditable">
                  <button *ngIf="employee" class="btn btn-primary" (click)="isEditable = !isEditable;">EDIT</button>
                  <a class="btn btn-primary" [routerLink]="['/about']">ABOUT</a>
                </div>

                <div class="btn-group" *ngIf="isEditable">
                  <button [disabled]="employeeDetailsComponent.employeeForm && employeeDetailsComponent.employeeForm.pristine" class="btn btn-primary" (click)="updateEmployee()">SAVE</button>
                  <a class="btn btn-default" [routerLink]="['/employees']">CANCEL</a>
                </div>
              </div>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="message">
            <td colspan="2" [ngClass]="{'text-success': message.type === messageType.success, 'text-danger': message.type === messageType.failure }">
              {{ message.content }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <app-employee-details #employeeDetails [employee]="employee" [isEditable]="isEditable"></app-employee-details>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

</div>
