<ng-container *ngIf="(showLoader$ | async) then loaderTemplate else employeeDetailsTemplate"></ng-container>

<ng-template #loaderTemplate>
  <div class="loader-wrapper d-flex align-items-center justify-content-center">
    <app-page-loader></app-page-loader>
  </div>
</ng-template>

<ng-template #employeeDetailsTemplate>
  <ng-container  *ngIf="employee then employeeTemplate else noEmployeeTemplate"></ng-container>
</ng-template>

<ng-template #employeeTemplate>
  <form class="form-group" [formGroup]="employeeForm">
    <table class="table form-group">
      <tbody>
        <tr>
          <td>
            <b>NAME</b>
          </td>
          <td>
            <p class="m-0">
              <input type="text" class="form-control" [readOnly]="!isEditable" formControlName="name"/>
            </p>

            <ng-container *ngIf="submitted && employeeForm.get('name').errors">
              <p class="m-0 text-danger" *ngIf="employeeForm.get('name').errors.required">Name cannot be blank</p>
              <p class="m-0 text-danger" *ngIf="employeeForm.get('name').errors.minlength">Name must have atleast 2 characters</p>
            </ng-container>
          </td>
        </tr>

        <tr>
          <td>
            <b>ID</b>
          </td>
          <td>
            <input type="text" class="form-control" readOnly formControlName="id"/>
          </td>
        </tr>

        <tr>
          <td>
            <b>ADDRESS</b>
          </td>
          <td>
            <p class="m-0">
              <textarea class="form-control" [readOnly]="!isEditable" formControlName="address"></textarea>
            </p>

            <ng-container *ngIf="submitted && employeeForm.get('address').errors">
              <p class="m-0 text-danger" *ngIf="employeeForm.get('address').errors.required">Address cannot be blank</p>
              <p class="m-0 text-danger" *ngIf="employeeForm.get('address').errors.minlength">Address must have atleast 10 characters</p>
            </ng-container>
          </td>
        </tr>

        <tr>
          <td>
            <b>DEPARTMENT</b>
          </td>
          <td>
            <p class="m-0">
              <input type="text" class="form-control" readOnly formControlName="department"/>
            </p>

            <ng-container *ngIf="submitted && employeeForm.get('department').errors">
              <p class="m-0 text-danger" *ngIf="employeeForm.get('department').errors.required">Department cannot be blank</p>
              <p class="m-0 text-danger" *ngIf="employeeForm.get('department').errors.minlength">Department must have atleast 2 characters</p>
            </ng-container>
          </td>
        </tr>

        <tr formArrayName="phones">
          <td>
            <b>PHONES</b>
          </td>
          <td>
            <ul class="list-group">
              <li *ngIf="isEditable" class="list-group-item p-0 border-0">
                <app-new-phone-form (newPhoneEmitter)="addNewPhone($event)"></app-new-phone-form>
              </li>
              <li class="list-group-item p-0 border-0" *ngFor="let phone of employeeForm.get('phones').value; let i = index;">
                <input type="text" readonly class="form-control" [value]="phone" />
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</ng-template>

<ng-template #noEmployeeTemplate>
  <h4>NO EMPLOYEE SELECTED</h4>
</ng-template>
