<ul class="list-group">
  <li *ngFor="let employee of employees;" class="list-group-item" [ngClass]="{ 'active': employee.id == id }">
    <a class="d-block" [ngClass]="{ 'text-white': employee.id == id }" (click)="navigate(employee.id)">{{ employee.name | titlecase }}</a>
  </li>
</ul>
