/* You can add global styles to this file, and also import other style files */
:root {

}

body {
  app-header,
  app-footer {
    display: contents;
  }
  .table {
    th, td {
      vertical-align: middle !important;
      padding: 0.25rem;
      height: 50px;
    }
  }
  textarea {
    resize: none;
  }
}
